@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Service-BG</h1>
    <p>
        Service-BG е оборудван с машини от последно поколение, притежаващи престижният Немски сертификат WDK, което комбинирано с нашият екип с дългогодишен опит са предпоставки за услуги с качество над отличното.


    </p>

    <img src="https://cdn.intercars.eu/files/4/3/0/0/6/43006/800x600,f.jpg?v=2019-05-22"
         alt="Store pic" width="625" height="500" />
</div>
