@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8" >
    <style>
        main{
            border-width: 3px;
            border-width: dodgerblue;
            border-style: solid;

        }
    </style>


</head>

<div class="text-center"

     <h3 class="display-4">Всичко за сайт Service-BG,което е възможно да ви интересува.</h3>
     <p style="text-align:center;">Service-BG е уеб сайт специялизиран в ремонт и подръжка на автомобили. 
      Сайта започва да функционира и работи с потребители на 26.06.2022.Предлагаме различни видове ремонти подръжка и части за вашите автомобили.Чрез този сайт ние подобряваме удобството на нашите клиенти,при записването на час,както и подпомага организацията на нашите служители при работа с автомобилите както и при обслужването от съкретаря на сервиза.</p>

    <img src="https://автосервиз.bg/wp-content/uploads/2017/10/1-e1572896550770.jpg"
         alt="Store pic" width="625" height="500" />





</html>
