@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Европейският съюз е ангажиран със защитата на неприкосновеността на личния живот на потребителите.

    Политиката относно защитата на лицата по отношение на обработката на лични данни от институциите на ЕС понастоящем се основава на Регламент (ЕС) 2018/1725 на Европейския парламент и на Съвета от 23 октомври 2018 г. относно защитата на физическите лица във връзка с обработването на лични данни от институциите, органите, службите и агенциите на Съюза и относно свободното движение на такива данни и за отмяна на Регламент (ЕО) № 45/2001 и Решение № 1247/2002/ЕО.

    Тази обща политика обхваща институционалните уебсайтове на Европейския съюз в рамките на домейна europa.eu. Въпреки че можете да сърфирате на повечето от тези сайтове, без да предоставяте лична информация, в някои случаи се изисква информация, за да ви бъдат предоставени поисканите от вас електронни услуги. Уебсайтовете, които изискват такава информация, я обработват при пълно спазване на горепосочения регламент, а в техните декларации за поверителност се предоставя информация за използването на вашите данни.

    Във връзка с това:

    за всяка електронна услуга има администратор на данни, който определя целите и начините на обработване на личните данни и осигурява спазването на политиката за защита на личните данни;
    във всяка институция има длъжностно лице за защита на данните, което следи за прилагането на разпоредбите на регламента и съветва администраторите на данни относно изпълнението на техните задължения;
    Европейският надзорен орган по защита на даннитеТърсене на налични преводи за тази връзка EN••• действа като независим надзорен орган за всички институции.
    Институционалните уебсайтове на Европейския съюз в рамките на домейна europa.eu съдържат връзки към уебсайтове на трети страни. За да използвате съдържанието на трети страни на нашите уебсайтове, може да е необходимо да приемете техните правила и условия, включително техните политики за бисквитките, върху които нямаме контрол.
</p>
